/* CSS files add styling rules to your content */
html, body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 0em;
  height: 100%;
}

h1 {
  font-style: italic;
  color: white;
}

#footer {
  position: absolute;
  width:100%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  z-index: 1;
  pointer-events: none;
}

#controls {
  text-align: right; 
}

#recordMessage {
  display: none;
}

#downloads {
  display: none; 
}

.snackbar {
  display: flex;
  bottom: 0;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  padding-right: 24px;
  padding-left: 24px;
  will-change: transform;
  background-color: #323232;
  color: #fff;
  margin: auto;
}

.snackbar__text {
  font-family: Roboto,sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: .03125em;
  text-decoration: inherit;
  text-transform: inherit;
  margin-left: 0;
  margin-right: auto;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  height: 48px;
  color: #fff;
}

.snackbar__action {
  color: #018786;
  font-family: Roboto,sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: .875rem;
  line-height: 2.25rem;
  font-weight: 500;
  letter-spacing: .08929em;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 24px;
  pointer-events: all;
}

@media screen and (max-width: 590px) {
  .snackbar {
    width: 100%;
    left: 0;
    transform: none;
  }
  
  button {
    position: relative !important;
  }
}

#downloads {}

video, canvas {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  object-fit: cover;
}

button {
  margin: 0em 3em 3em 0em;
  padding: 1em;
  border-radius: 28px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  bottom: 0;
  right:0;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 56px;
  height: 56px;
  padding: 0; 
  background-color: #018786;
  color: #fff;
  border: none;
  pointer-events: all;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  transition: box-shadow .28s cubic-bezier(.4,0,.2,1),opacity 15ms linear 30ms,transform .27s cubic-bezier(0,0,.2,1) 0ms,-webkit-box-shadow .28s cubic-bezier(.4,0,.2,1),-webkit-transform .27s cubic-bezier(0,0,.2,1) 0ms;
}

button:hover {
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12); 
}

button:active {
  box-shadow: 0 7px 8px -4px rgba(0,0,0,.2), 0 12px 17px 2px rgba(0,0,0,.14), 0 5px 22px 4px rgba(0,0,0,.12); 
}

button[disabled] {
  display: none;
}

button[disabled=false] {
  display: inline-flex;
}

button:not([disabled]) {
  display: inline-flex;;
}

#bufferVideo {
  display: none; 
}